%tr{ 'data-comment-id' => comment.id }
  %td.id-col= comment.id
  %td= truncate comment.comment, :length => 30
  %td= comment.username
  %td
    = radio_button_tag "#{comment.id}-approved", true, comment.approved
    = label_tag "#{comment.id}-approved_true", 'Approved', :class => 'radio-label'

    = radio_button_tag "#{comment.id}-approved", false, !comment.approved
    = label_tag "#{comment.id}-approved_false", 'Spam', :class => 'radio-label'

  %td= link_to 'Edit', edit_admin_comment_path(comment), :class => 'edit-icon admin-action-icon'
  %td= link_to 'Delete', admin_comment_path(comment), :method => :delete, :class => 'delete-trigger delete-icon admin-action-icon'
