= wrap_layout :layout do
  - content_for(:title, "#{current_article.title} | ")
  %article#post
    .article-share-tools.hide-phone
      .share-tool
        .share-option#facebook-article-share
        .share-container
          .fb-like{ 'data-href' => current_article.url, 'data-send' => false, 'data-layout' => 'button_count', 'data-width' => 90, 'data-show-faces' => false }

      .share-tool
        .share-option#twitter-article-share
        .share-container
          :plain
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="dgalarza">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    %header
      .publish-meta
        %time{ :datetime => nil, :pubdate => current_article.date }= format_date current_article.date
        %p.post-category
          &ndash;
          = link_to current_article.data.category, category_path(current_article.data.category), class: 'alt-anchor'

      %h2= link_to current_article.title, current_article.url
      -if current_article.data.subtitle
        %h3= current_article.data.subtitle
      %p.post-tags
        - current_article.tags.each_with_index do |tag, i|
          -if i > 0
            |
          = link_to tag, tag_path(tag)

    = find_and_preserve do
      = yield
