!!! 5
%html{ :en => 'en' }
  %head

    %meta{ :charset => 'UTF-8' }
    %meta{ :name => 'viewport', :content => 'width=1020px' }
    %title 
      = yield_content :title
      Damian Galarza
    
    = stylesheet_link_tag "application"
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">

    :plain
      <script type="text/javascript" src="http://use.typekit.com/hyh0moi.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

    -#= auto_discovery_link_tag(:rss, posts_url + '.rss')


  %body{ class: page_classes }

    #page
      = partial 'layouts/header'

      #page-wrapper.wrapper
        %section.site-content
          = yield

      = partial 'layouts/footer'

      %script{ :type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
      = yield_content :scripts

    :plain


      <script>$('.fb-like').attr('data-href', window.location.href)</script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=527200053984565";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28839416-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

      <script>hljs.initHighlightingOnLoad();</script>
