%tr
  %td.id-col= post.id
  %td.post-title= post.title
  %td= post.category.name
  %td
    - if post.published
      %span.is-published 
        = image_tag 'blank.gif', :class => 'sprite-container'
        Published

  %td= link_to 'Post', post_permalink_path(post), :class => 'view-icon admin-action-icon'
  %td= link_to 'Edit', edit_admin_post_path(post), :class => 'edit-icon admin-action-icon'
  %td= link_to 'Delete', admin_post_path(post), :method => :delete, :class => 'delete-icon admin-action-icon'
