= semantic_form_for [:admin, @post] do |post|
  = post.inputs do
    = post.input :title
    = post.input :subtitle

    = post.input :category

    = post.input :content

    = post.input :excerpt

    = post.input :tags
    #tags-container

    = post.input :published

  = post.actions do
    = post.action :submit, :button_html => { :class => 'btn red-btn' }
    = post.action :submit, :label => 'Save and Continue', :button_html => { :class => 'btn red-btn' }
    = post.action :cancel, :button_html => { :class => 'btn red-btn', :href => '/admin' }
  
= content_for :scripts do
  %script{ :type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
  = javascript_include_tag 'admin/posts_form'
