- title @post.title

%article#post{ "data-post-id" => @post.id }
  .article-share-tools
    .share-tool
      .share-option#facebook-article-share
      .share-container
        .fb-like{ 'data-href' => request.url, 'data-send' => false, 'data-layout' => 'button_count', 'data-width' => 90, 'data-show-faces' => false }

    .share-tool
      .share-option#twitter-article-share
      .share-container
        :plain
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="dgalarza">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  %header
    .publish-meta
      %time{ :datetime => nil, :pubdate => post_publish_date(@post) }= format_date post_publish_date(@post)
      %p.post-category
        &ndash;
        = link_to(@post.category.name, "/posts?category=#{@post.category.id}", :class => 'alt-anchor') if @post.category

    %h2= link_to @post.title, post_permalink_url(@post)
    -if @post.subtitle
      %h3= @post.subtitle
    %p.post-tags
      - @post.tags.each_with_index do |tag, i|
        -if i > 0
          |
        = link_to tag.name, "/posts?tag=#{tag.name}"

  =post_markdown(@post.cached_markdown)

  %section#post-comments{ 'data-comment-count' => @comment_count }
    - if @comments.length > 0
      %h4 
        Comments
        = "(#{@comment_count})"
    #comment-content
      = render :partial => 'posts/post_comment', :collection => @comments

    - if @comments.length < @comment_count
      = link_to 'Load More Comments', 'javascript:void(0);', :class => 'btn red-btn', :id => 'comment-load-trigger'

    %a{ :name => 'comments' }
    -#%h4 Write a Comment
    -#= form_for [@post, @comment] do |comment|

      -#= comment.text_field :username, :placeholder => "Name"
      -#.error-message= "Name #{@comment.errors['username'][0]}" unless @comment.errors['username'].empty?

      -#= comment.text_field :email, :placeholder    => "Email"
      -#.error-message= "Email #{@comment.errors['email'][0]}" unless @comment.errors['email'].empty?

      -#= comment.url_field :website, :placeholder  => "Website"

      -#= comment.text_area  :comment, :placeholder  => "Comment"
      -#.error-message= "Message #{@comment.errors['comment'][0]}" unless @comment.errors['comment'].empty?

      -#%p.hint Markdown enabled

      -#= comment.submit 'Submit', :class => 'btn red-btn'

- content_for :scripts do
  :plain
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
