%article#post{ "data-post-id" => @post.id }

  %header
    .publish-meta
      %time{ :datetime => nil, :pubdate => @post.created_at }= format_date(@post.created_at)
      %p.post-category
        &ndash;
        = link_to(@post.category.name, "/posts?category=#{@post.category.id}", :class => 'alt-anchor') if @post.category

    %h2= link_to @post.title, post_permalink_url(@post)
    - @post.tags.each_with_index do |tag, i|
      -if i > 0
        |
      = link_to tag.name, "/posts?tag=#{tag.id}"

  =post_markdown(@post.cached_markdown)

  %section#post-comments{ 'data-comment-count' => @comment_count }
    %h4 
      Comments
      - if @comments.length > 1
        = "(#{@comment_count})"
    #comment-content
      = render :partial => 'post_comment', :collection => @comments

    - if @comments.length < @comment_count
      = link_to 'Load More Comments', 'javascript:void(0);', :class => 'btn red-btn', :id => 'comment-load-trigger'

    %h4 Write a Comment
    = form_for [@post, @comment] do |comment|
      = comment.text_field :username, :placeholder => "Name"
      = comment.text_field :email, :placeholder    => "Email"
      = comment.url_field :website, :placeholder  => "Website"
      = comment.text_area  :comment, :placeholder  => "Comment"
      %p.hint Markdown enabled

      = comment.submit 'Submit', :class => 'btn red-btn'

- content_for :scripts do
  %script{ :type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
  = javascript_include_tag 'posts'

  :plain
    <script type="text/x-handlebars-template" id="comment-template">
      <article class="comment">
        <img src="{{gravatar_url this}}" class="avatar" />
        <div class="comment-wrapper">
          <p>{{{comment}}}</p>
          <div class="comment-meta">posted by: {{{comment_author this}}} @ {{created_at}}</div>
        </div>
      </article>
    </script>

