%article#post
  #post-sidebar
    %time{ :datetime => nil, :pubdate => @post.created_at }

    %p.post-category
      = #@post.category

    .share-tools
      .social-media-wrapper
        .fb-like{ 'data-href' => url_for(@post), 'data-send' => false, 'data-width' => 90, 'data-layout' => 'button_count', 'data-show-faces' => false }

      .social-media-wrapper
        :plain
          <g:plusone></g:plusone>

      .social-media-wrapper
        = link_to 'Tweet', 'http://twitter.com/share', :class => 'twitter-share-button', 'data-via' => 'dgalarza'
        :plain
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    :plain
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

  #post-content
    %h2= link_to @post.title, url_for(@post)
    = post_markdown

- content_for :pygments_css do
  %style{ :type => 'text/css' }
    = Pygments.css('.highlight', :style => 'vs')
