%article#post

  %header
    .publish-meta
      %time{ :datetime => nil, :pubdate => @post.created_at }= publish_date
      %p.post-category
        &ndash;
        = @post.category.name

    %h2= link_to @post.title, url_for(@post)
    - @post.tags.each_with_index do |tag, i|
      -if i > 0
        |
      %a{:href => '#tag'}= tag.name

  =post_markdown

  %section#post-comments
    %h4 
      Comments
      - if @post.comments.length > 1
        = "(#{@post.comments.length})"
    = render :partial => 'post_comment', :collection => @post.comments

    %h4 Write a Comment
    = form_for [@post, @comment] do |comment|
      = comment.text_field :username, :placeholder => "Name"
      = comment.text_field :email, :placeholder    => "Email"
      = comment.url_field :website, :placeholder  => "Website"
      = comment.text_area  :comment, :placeholder  => "Comment"
      %p.hint Markdown enabled

      = comment.submit 'Submit', :class => 'btn red-btn'
