#main-content
  %section#bio
    %p.headline I'm a NY/NJ based, full stack web developer. I currently work at <a href="http://www.canvas.is" target="_blank">Canvas</a> as a Lead Engineer.
    %p This site is a collection of some of my work as well as posts which may help others in their own work. If you'd like to learn more about me please visit the <a href="/about">about</a> section.

  %section#blog-feed
    %h2 Recent Posts
    - blog.articles[0...5].each do |article|
      %article
        %time{ :datetime => article.date }
          = format_post_date(article.date)
        %h3
          = link_to article.title, article.url

#info-bar
  #projects-pane
    %h2 have you seen
    #gradient-generator.pane
      %h3 check it out
      %p= link_to "CSS3 Gradient Generator", "http://gradients.glrzad.com", :target => '_blank'

    #github.pane
      %h3 check out my profile on
      %p= link_to "Github", "http://github.com", :target => '_blank'

  %section#twitter-feed{ style: 'display: none;' }
    %h2 Tweets
    #twitter-feed-content
    
- content_for :scripts do
  %script{ :type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
  = javascript_include_tag "home"
  :plain
    <script type="text/x-handlebars-template" id="tweet-template">
      <article>
        <p>{{{text}}}</p>
        <time>{{pretty_date}}</time>
      </article>
    </script>

