!!! 5
%html{ :en => 'en' }
  %head

    %meta{ :charset => 'UTF-8' }
    %title Damian Galarza

    = stylesheet_link_tag 'style.css'

    :plain
      <script type="text/javascript" src="http://use.typekit.com/hyh0moi.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    = auto_discovery_link_tag(:rss, posts_url + '.rss')


  %body{ :class => controller_name }

    #page
      = render 'layouts/header'

      #page-wrapper.wrapper
        %section.site-content
          = yield

      = render 'layouts/footer'

      = yield :scripts

